LOGGER__LEVEL=DEBUG

SERVER__HOST=0.0.0.0
SERVER__PORT=8000

PUBLIC_API_URL=http://localhost:8000
PUBLIC_WS_URL=ws://localhost:8000

HTTPX__CONNECT_TIMEOUT=30.0
HTTPX__READ_TIMEOUT=240.0

DIRECTORY__FILEIGNORE_FILENAME=.fileignore
DIRECTORY__OUTPUTS_DIR=outputs
DIRECTORY__TEMPORARY_DIR=temporary

LLM__CLIENT__NAME=
LLM__CLIENT__PROVIDER=
LLM__CLIENT__MODEL=
LLM__CLIENT__BASE_URL=
LLM__CLIENT__API_KEY=
LLM__CLIENT__TEMPERATURE=0.2
LLM__CLIENT__TOKENIZER_FILENAME=
LLM__CLIENT__HF_REPO=
LLM__CLIENT__MAX_CONTEXT_TOKENS=
LLM__CLIENT__CONCURRENCY_LIMIT=10

LLM__PROMPT__OUTPUT_LANGUAGE=fr
LLM__PROMPT__ENRICHMENT_SYSTEM_PROMPT_FILENAME=enrichment_system.md
LLM__PROMPT__MIN_MESSAGES_TOKENS=5_000
LLM__PROMPT__MAX_MESSAGES_TOKENS=100_000

GRAPH_ENGINE__NEO4J_HOST='localhost'
GRAPH_ENGINE__NEO4J_PORT=7687

DOCUMENT_REPOSITORY__SQLITE_FILEPATH=outputs/sqlite/documents.db
DOCUMENT_REPOSITORY__SQLITE_DIRECTORY=sqlite

AGENT__MAX_CONTEXT_TOKEN_LENGTH=200_000
AGENT__MAX_CONTEXT_TOKEN_LENGTH_AFTER_COMPRESSION=100_000
AGENT__START_PERCENTILE_COMPRESSION=25
AGENT__END_PERCENTILE_COMPRESSION=75
AGENT__COMPRESSION_SYSTEM_PROMPT_FILENAME=compression_system.md
AGENT__STRUCTURER__SYSTEM_PROMPT_FILENAME=structurer_system.md
AGENT__STRUCTURER__STARTING_PROMPT_FILENAME=structurer_task.md
AGENT__WRITER__SYSTEM_PROMPT_FILENAME=writer_system.md
AGENT__WRITER__STARTING_PROMPT_FILENAME=writer_task.md
AGENT__WRITER__STARTING_BLOCK_CREATION_FILENAME=writer_task_creation.md
AGENT__WRITER__STARTING_BLOCK_REVISION_FILENAME=writer_task_revision.md
AGENT__JUDGE__SYSTEM_PROMPT_FILENAME=judge_system.md
AGENT__JUDGE__STARTING_PROMPT_FILENAME=judge_task.md
AGENT__ASSISTANT__SYSTEM_PROMPT_FILENAME=assistant_system.md
AGENT__ASSISTANT__STARTING_PROMPT_FILENAME=assistant_task.md
